.success {
  color: darkgreen;
  background-color: #98f698;
  padding: 10px;
  border: 2px solid darkgreen;
  margin-bottom: 20px;
}

.error {
  color: red;
  background-color: #fab2b2;
  padding: 10px;
  border: 2px solid red;
  margin-bottom: 20px;
}